@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/circuit.css"/>

        <!-- Подключение библиотеки jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.js"
                integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
                crossorigin="anonymous">
        </script>

        <script>

            var Id = 0;

            var fl = false; // ожидание выбора положения n-арного оператора
            // Координаты для n-арных операторов
            var x = 0;
            var y = 0;

            function idToCoor(id) {
                var coor_str = id.replace(/_/g, ' ');
                var coor_str = coor_str.replace(/op/g, '');
                var coor = coor_str.split(' ');
                coor[0] = parseInt(coor[0]);
                coor[1] = parseInt(coor[1]);
                return coor;
            }

            function getElementByCoor(x, y) {
                xstr = x.toString();
                ystr = y.toString();
                coords = "op" + xstr + "_" + ystr;
                var div = document.getElementById(coords);
                return div;
            }

            // Расположение оператора на схеме
            function changeStyleTo() {
                
                // Запрос в back-end
                s = "";
                $.ajax({
                    url: '@Url.Action("Get", "Home")',
                    type: 'get',
                    async: false,
                    success: function(data) {
                        s = data;
                    }
                });

                
                // TODO - добавить исключения
                if (s == "CNOT") {
                    // Первое нажатие
                    if (!fl) {
                        document.body.style.cursor = "wait";

                        fl = true;

                        var coor = idToCoor(this.id);
                        x = coor[0];
                        y = coor[1];
                    }
                    // Второе нажатие
                    else {
                        document.body.style.cursor = "auto";
                        var coor = idToCoor(this.id);
                        if (x != coor[0] && y == coor[1]) {
                            var op1 = document.getElementById("op" + x + "_" + y);
                            op1.setAttribute("class", "op2");
                            op1.innerHTML = "CX0";
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("ChangeOperator", "Home")',
                                data: { i: x, j: y, op: "CX0" },
                                dataType: "json"
                            });

                            this.setAttribute("class", "op2");
                            this.innerHTML = "CX1";
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("ChangeOperator", "Home")',
                                data: { i: coor[0], j: coor[1], op: "CX1" },
                                dataType: "json"
                            });
                        }
                        fl = false;
                        x = 0;
                        y = 0;
                    }
                }
                else {
                    this.setAttribute("class", "op2");
                    this.innerHTML = s;

                    var coor = idToCoor(this.id);
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ChangeOperator", "Home")',
                        data: { i: coor[0], j: coor[1], op: s },
                        dataType: "json"
                    });
                }
            }

            // Удаление оператора со схемы
            function changeStyleFrom() {
                this.setAttribute("class", "op");
                this.innerHTML = "";

                var coor = idToCoor(this.id);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ChangeOperator", "Home")',
                    data: { i: coor[0], j: coor[1], op: "I" },
                    dataType: "json"
                });

                // Удаление оператора CNOT
                s = "";
                $.ajax({
                    url: '@Url.Action("GetBinary", "Home")',
                    type: 'get',
                    data: { y: coor[1], temp: "CX" },
                    dataType: "json",
                    async: false,
                    success: function(data) {
                        s = data;
                    }
                });
  
                // ПРОБЛЕМА С УДАЛЕНИЕМ ОПЕРАТОРА (1 и любая строка)
                // ИСПРАВИТЬ!!!!!!!!!!!

                x = parseInt(s);
                y = coor[1];

                if (x >= 0) {
                    
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ChangeOperator", "Home")',
                        data: { i: x, j: y, op: "I" },
                        dataType: "json"
                    });

                    var op1 = document.getElementById("op" + x + "_" + y);
                    op1.setAttribute("class", "op");
                    op1.innerHTML = "";
                }
                

                

                // Отправка данных в квантовое ядро ...
                return false;
            }

            // Отрисовка линии на схеме
            function draw(id) {
                var c = document.getElementById(id);
                var ctx = c.getContext("2d");
                ctx.strokeStyle = "black";
                ctx.lineWidth = 3;
                ctx.beginPath();
                ctx.moveTo(0, 75);
                ctx.lineTo(300, 75);
                ctx.stroke();
            }

            // Выбор оператора
            function choose() {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Choose", "Home")',
                    data: { op: this.id },
                    dataType: "json"
                });
                arr = document.getElementsByClassName("active_operator");
                for (var i = 0; i < arr.length; i++) {
                    arr[i].setAttribute("class", "operator");
                }
                this.setAttribute("class", "active_operator");   
            }

            function setCanvas(div, id) {
                var canvas = document.createElement("canvas");
                canvas.id = id;
                div.appendChild(canvas);
            }

            function addQubit() {
                m = 15;

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddQubit", "Home")',
                    dataType: "json"
                });

                var tr = document.createElement("tr");
                tr.id = "q" + Id;
                console.log(Id);
                for (var j = 0; j < m; j++) {
                    var td = document.createElement("td");

                    var canvas = document.createElement("canvas");
                    canvas.id = "c" + Id + "_" + j;
                    td.appendChild(canvas);

                    var operator = addOperator(j);
                    td.appendChild(operator);
                    tr.appendChild(td);
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddOperator", "Home")',
                    data: { i: Id, n: m },
                    dataType: "json"
                });
                var table = document.getElementById("qreg");
                table.appendChild(tr);

                for (var j = 0; j < m; j++) {
                    draw("c" + Id + "_" + j);
                }

                Id = Id + 1;
                return tr;
            }

            function deleteQubit() {
                if (Id > 0) {
                    Id = Id - 1;
                    var q = document.getElementById("q" + Id);
                    console.log("q" + Id);
                    q.remove(); 
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("DeleteQubit", "Home")',
                        dataType: "json"
                    });
                }
            }

            function addOperator(i) {
                var operator = document.createElement("div");
                operator.id = "op" + Id + "_" + i;
                operator.setAttribute("class", "op");
                operator.onclick = changeStyleTo;
                operator.oncontextmenu = changeStyleFrom;
                return operator;
            }

            function setTable() {
                n = 5;
                
                var div = document.getElementById("main");
                var table = document.createElement("table");
                table.id = "qreg";
                div.appendChild(table);

                for (var i = 0; i < n; i++) {
                    var tr = addQubit();
                }
            }

            function testConnector() {
                s = "";
                $.ajax({
                    url: '@Url.Action("TestConnector", "Home")',
                    type: 'GET',
                    async: false,
                    success: function(data) {
                        s = data;
                    }
                });
                document.getElementById("result").value = s;
            }

            // Загрузка объектов страницы
            document.addEventListener("DOMContentLoaded", function() {
                setTable();

                var op = document.getElementsByClassName("operator");
                for (var i = 0; i < op.length; i++) {
                    op[i].onclick = choose;
                }

                var btn1 = document.getElementById("btn1");
                btn1.onclick = addQubit;

                var btn2 = document.getElementById("btn2");
                btn2.onclick = deleteQubit;

                var btn3 = document.getElementById("btn3");
                btn3.onclick = testConnector;
            });
        </script>
    </head>

    <body>
        <div class="text-center" id="main">
            <h1 class="display-4">Квантовая схема</h1>

            <table>
                <tr>
                    <td><div class="operator" id="I">I</div></td>
                    <td><div class="operator" id="H">H</div></td>
                    <td><div class="operator" id="X">X</div></td>
                    <td><div class="operator" id="Y">Y</div></td>
                    <td><div class="operator" id="Z">Z</div></td>
                    <td><div class="operator" id="S">S</div></td>
                    <td><div class="operator" id="T">T</div></td>
                    <td><div class="operator" id="M">M</div></td>
                    <td><div class="operator" id="CNOT">CNOT</div></td>

                    <td><button id="btn1">Add</button> </td>
                    <td><button id="btn2">Remove</button> </td>
                    <td><button id="btn3">Test</button></td>
                    <td><input type="text" id="result" /></td>
                </tr>
            </table>
            <br />  
        </div>
    </body>
</html>